<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Students</title>
  </head>
  <h1>SCHOOLS</h1>
  <a href="teachers">Teachers</a>
  <a href="subjects">Subjects</a>
  <a href="students">Students</a>
  <body>
    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
      <%dataStudents.forEach(row=>{ %>
        <tr>
          <td><%= row.id%></td>
          <td><%= row.first_name%></td>
          <td><%= row.last_name%></td>
          <td><%= row.email%></td>
          <td><a href="/students/edit/<%= row.id%>">Edit</td>
          <td><a href="/students/delete/<%= row.id%>">Delete</td>
        </tr>
      <%})%>
      </tbody>
    </table>
    <a href="/students/add">Add</a>
  </body>
</html>
