<% include partials/header.ejs %>
  <br>
  <div class="rows">
    <div class="col s12 center">
      <div class="card-panel teal lighten-2">
        <a href="/teachers" class="btn-floating btn-large waves-effect waves-light red left"><i class="material-icons left">backspace</i></a>
        <%= pageTitle %>
      </div>
    </div>
  </div>
  <br>
  <form action="/teachers/edit/<%= dataRows.id %>" method="post">
    <input type="hidden" name="id" value="<%= dataRows.id %>">
    <div class="input-field">
      <input type="text" name="first_name" placeholder="First Name" value="<%= dataRows.first_name %>" required>
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field">
      <input type="text" name="last_name" placeholder="Last Name" value="<%= dataRows.last_name %>" required>
      <label for="last_name">Last Name</label>
    </div>
    <div class="input-field">
      <input type="text" name="email" placeholder=" Email " value="<%= dataRows.email %>" required><br>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <select name="SubjectId">
        <%
          for(var i = 0; i<subjectRows.length; i++){
            console.log(subjectRows[i].id == dataRows.SubjectId);
            %>
            <option value="<%= subjectRows[i].id %>"  <%= subjectRows[i].id == dataRows.SubjectId ? "selected" : "" %> ><%= subjectRows[i].subject_name %></option>
            <%
          }
        %>
      </select>
      <label for="SubjectId">Subject</label>
    </div>
    <input type="submit" value="SUBMIT" class="waves-effect waves-light btn">
  </form>
  <% include partials/footer.ejs %>
