<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Teacher</title>
  </head>
  <body>
    <table border="1px solid black">
      <thead>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th colspan="3">STATUS</th>
      </thead>
      <tbody>
        <% dataTeacher.forEach(rows => { %>
          <tr>
            <td><%= rows.id %></td>
            <td><%= rows.first_name %></td>
            <td><%= rows.last_name %></td>
            <td><%= rows.email %></td>
            <td><a href="/teachers/add">Add</a></td>
            <td><a href="/teachers/edit/<%= rows.id %>">EDIT</a></td>
            <td><a href="/teachers/delete/<%= rows.id %>">HAPUS</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
